<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'vets')}">

<body>

    <div class="limiter mt-2">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100">
                    <table class="vet-table" style="width:100%">
                        <thead>
                        <tr class="table100-head">
                            <th class="column2-1" th:text="#{name}">Name</th>
                            <th class="column2-2" th:text="#{specialties}">Specialties</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="vet : ${vets}">
                            <td th:text="${vet.getFirstName() + ' ' + vet.getLastName()}">Tekir</td>
                            <td>İlk Müdahale</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>