<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/layout :: head"></th:block>
    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <link rel="stylesheet" th:href="@{/css/table-extra.css}"/>
    <title th:text="#{veterinarians}"></title>
</head>
<body>
    <th:block th:insert="fragments/layout :: header"></th:block>

    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100">
                    <table class="vets-table" style="width:100%">
                        <thead>
                        <tr class="table100-head">
                            <th class="column1" th:text="#{name}">Name</th>
                            <th class="column2" th:text="#{specialties}">Specialties</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="vet : ${vets}">
                            <td th:text="${vet.getFirstName() + ' ' + vet.getLastName()}">Alex</td>
                            <td><span th:each="speciality : ${vet.getSpecialities()}"
                                      th:text="${speciality.getName() + '-'}">Surgery</span></td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <th:block th:insert="fragments/layout :: footer"></th:block>
</body>
</html>