<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'owners')}">

<body>
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100">
                    <table class="table" style="width:100%">
                        <thead>
                        <tr class="table100-head">
                            <th class="column1" th:text="#{name}">Name</th>
                            <th class="column2" th:text="#{address}">Address</th>
                            <th class="column3" th:text="#{city}">City</th>
                            <th class="column4" th:text="#{telephone}">Telephone</th>
                            <th class="column5" th:text="#{pets}">Pets</th>
                            <th class="column6"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="owner : ${owners}">
                            <td th:text="${owner.getFirstName() + ' ' + owner.getLastName()} ">Ahmet</td>
                            <td th:text="${owner.getAddress()}">1336 sk. No:5 Daire:4 Gürçeşme-Konak</td>
                            <td th:text="${owner.getCity()}">İzmir</td>
                            <td th:text="${owner.getTelephone()}">0553 978 43 21</td>
                            <td><span th:each="pet : ${owner.pets}" th:text="${pet.name} + '-'"/></td>
                            <td><a href="#" class="btn btn-outline-secondary" th:text="#{editOwner}">Edit Owner</a></td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>
</html>