<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/layout :: head"></th:block>
    <link rel="stylesheet" th:href="@{/css/table.css}"/>
    <title>Detail</title>
</head>
<body>
    <th:block th:replace="fragments/layout :: header"></th:block>

    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100">

                    <h2>Owner Information</h2>
                    <table class="table" th:object="${owner}">
                        <tr>
                            <th>Name</th>
                            <td th:text="*{firstName + ' ' + lastName}"></td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td th:text="*{address}"/>
                            </td>
                        </tr>
                        <tr>
                            <th>City</th>
                            <td th:text="*{city}"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Telephone</th>
                            <td th:text="*{telephone}"/>
                            </td>
                        </tr>
                    </table>

                    <a th:href="@{'/owners/' + ${owner.id} + '/edit'}" class="btn btn-secondary">Edit
                        Owner</a>
                    <a th:href="@{{id}/pets/new(id=${owner.id})}" class="btn btn-secondary">Add
                        New Pet</a>

                    <br/>
                    <br/>
                    <br/>
                    <h2>Pets and Visits</h2>

                    <table class="table table-striped table-hover">
                        <tr th:each="pet : ${owner.pets}">
                            <td align="top">
                                <dl class="dl-horizontal">
                                    <dt>Name</dt>
                                    <dd th:text="${pet.name}"/>
                                    </dd>
                                    <dt>Birth Date</dt>
                                    <dd th:text="${#temporals.format(pet.birthDate, 'yyyy-MM-dd')}"/>
                                    </dd>
                                    <dt>Type</dt>
                                    <dd th:text="${pet.petType}"/>
                                    </dd>
                                </dl>
                            </td>
                            <td align="top">
                                <table class="table-condensed">
                                    <thead>
                                    <tr class="bg-transparent">
                                        <th>Visit Date</th>
                                        <th>Description</th>
                                    </tr>
                                    </thead>
                                    <tr th:each="visit : ${pet.visits}">
                                        <td th:text="${#temporals.format(visit.date, 'yyyy-MM-dd')}"></td>
                                        <td th:text="${visit?.description}"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a th:href="@{{ownerId}/pets/{petId}/edit(ownerId=${owner.id},petId=${pet.id})}">Edit
                                                Pet</a></td>
                                        <td>
                                            <a th:href="@{{ownerId}/pets/{petId}/visits/new(ownerId=${owner.id},petId=${pet.id})}">Add
                                                Visit</a></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="fragments/layout :: footer"></th:block>
</body>
</html>